### Java ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Prevent including nested build directories unless specifically needed
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle CLI cache
!gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse / Spring Tool Suite (STS) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code ###
.vscode/

### OS-specific ###
.DS_Store
Thumbs.db

### Application-specific ###
src/main/resources/application.properties

### Test Output ###
test-output/
target/

### Miscellaneous ###
HELP.md
